save-item{
  display: block;
  .recipe-item{
    box-shadow: -7px 18px 28px -11px rgba(255,197,135,0.75);
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    transition: all ease-out 0.3s;
    &:hover{
      box-shadow: -7px 18px 28px -11px rgba(250, 129, 15, 0.987);
      
      .title-recipe, p{
        color: rgb(111, 53, 5);
      }
    }
    .img-wrap{
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      
      img{
        border-radius: 5px;
        transition: all ease-out 0.2s;
        object-fit: cover;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
    .title-recipe{
      font-size: 1.2rem;
      margin-top: 1rem;
      color: rgba(153, 52, 5, 0.618);
      transition: all ease-out 0.2s;
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
    .detail-recipe{
      color: rgba(237, 159, 86, 0.987);
      padding: 1rem 0;
      display: flex;
      gap: 1.1rem;
      p{
        font-size: 14px;
        transition: all ease-out 0.3s;
        i{
          margin-right: 5px;
        }
      }
    }
    .btn-delete{
      background: rgba(255, 81, 0, 0.844);
      border: none;
      color: #fff;
      padding: 7px 20px;
      font-size: 1rem;
      border-radius: 5px;
      margin-bottom: 1rem;
      cursor: pointer;
      transition: ease-in-out 0.2s;
      &:hover{
        background: red;
      }
    }
  }
}

@media only screen and (max-width: 1024px){
  save-item{
    
    .recipe-item{
      .img-wrap{
        height: 170px;
      }
      .title-recipe{
        margin-top: 0.8rem;
      }
    }
  }
}