search-bar{
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  .search{
    width: 500px;
    &__form{
      display: flex;
      gap: 10px;
    }
    &__input{
      width: 100%;
      padding: 0.5rem 1rem;
      border: none;
      border-bottom: orange solid 1px;
      font-size: 1.2rem;
      color: rgb(130, 60, 7);
      transition: 0.2s;
      &:focus{
        outline: none;
        border-bottom: rgb(255, 153, 0) solid 2px;
      }
    }
    &__btn{
      padding: 0.7rem 1.2rem;
      background: orange;
      box-shadow: 10px 11px 17px -7px rgba(199,137,43,0.75);
      border: none;
      color: #fff;
      font-weight: 700;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
      letter-spacing: 2px;
      transition: ease-in-out 0.2s;
      &:hover{
        border-radius: 20px;
        background: green;
      }
    }
    
  }
}
@media only screen and (max-width: 1024px) {
  search-bar{
    .search{
      &__input{
        padding: 0.3rem 1.2rem;
      }
      &__btn{
        font-size: 0.8rem;
      }
    }
  }
 
} 
@media only screen and (max-width: 1024px){
  search-bar{
    .search{
      &__input{
        padding: 0.1rem 1rem;
      }
      &__btn{
        font-size: 0.8rem;
      }
    }
  }
}
