.tersimpan{
  position: relative;
  background: rgba(233, 169, 127, 0.398);
  padding-top: 4rem;
  .cons{
    max-width: 1200px;
    margin: 0 auto;
    h3{
      color: rgb(250, 250, 250);
      text-transform: capitalize;
      font-size: 1.5rem;
      margin-bottom: 2rem;
      text-shadow: 2px 2px 2px #BF5233;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .tersimpan{
    padding: 3rem 1rem 0rem 1rem;
    h3{
      text-align: center;
    }
  }
} 